.App {
  text-align: center;
}

body {
  background: #ffebef;
  /* padding: 0 40px; */
  /* margin: 0 40px; */
}

.job-item {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  align-items: center;
}

.job-item:hover {
  cursor: pointer;
  color: #ff9fb2;
}

.main-title {
  font-family: "Lobster", cursive;
  font-size: 3em;
}

.company_logo {
  height: 30px;
  float: right;
}
